# Node dependencies
node_modules/

# Local database files
data/database.json
data/*.sqlite
data/*.sqlite-journal

# Local uploads folder (contains testing images)
uploads/

# Environment configurations (credentials)
.env

# IDE/Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store

# Railway volume (no se sube)
/data/